<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formulario - Evaluación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-input label="Nombre" label-placement="floating" fill="outline" placeholder="Ingrese su nombre"></ion-input>
  </div>
  <div class="ion-padding">
    <ion-input label="Apellido" label-placement="floating" fill="outline" placeholder="Ingrese su apellido"></ion-input>
  </div>
  <div class="ion-padding">
    <ion-input label="Cédula" label-placement="floating" fill="outline" placeholder="Ingrese su cédula"></ion-input>
  </div>
  <div class="ion-padding">
    <ion-label>Fecha de nacimiento</ion-label>
  </div>
  <div class="ion-padding" style="display: flex; justify-content: center; align-items: center;">
    <ion-datetime></ion-datetime>
  </div>
  <div class="ion-padding">
    <ion-item>
      <ion-select label="Género" placeholder="Seleccione un género">
        <ion-select-option value="masculino">Masculino</ion-select-option>
        <ion-select-option value="femenino">Femenino</ion-select-option>
        <ion-select-option value="otro">Otro</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="ion-padding">
    <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Ingrese su email"></ion-input>
  </div>
  <div class="ion-padding">
    <ion-input label="Teléfono" label-placement="floating" fill="outline" placeholder="Ingrese su teléfono"></ion-input>
  </div>
  <div class="ion-padding">
    <ion-input label="Dirección" label-placement="floating" fill="outline"
      placeholder="Ingrese su dirección"></ion-input>
  </div>
  <div class="ion-padding">
    <ion-item>
      <ion-select label="Carrera" placeholder="Seleccione una carrera">
        <ion-select-option value="Tecnología Superior en Desarrollo de Software">Tecnología Superior en Desarrollo de
          Software</ion-select-option>
        <ion-select-option value="Tecnología Superior en Redes y Telecomunicaciones">Tecnología Superior en Redes y
          Telecomunicaciones</ion-select-option>
        <ion-select-option value="Tecnología Superior en Electromecánica">Tecnología Superior en
          Electromecánica</ion-select-option>
        <ion-select-option value="Tecnología Superior en Agua y Saneamiento">Tecnología Superior en Agua y
          Saneamiento</ion-select-option>
      </ion-select>
    </ion-item>
  </div>


</ion-content>